{{>header}}
<div class="main-content">
  <p>Use this site to get weather info</p>
  <form>
  	<input id="location" placeholder="Enter your Location"><button>Get Weather Info</button>
  </form>
  <p id="one"></p>
  <p id="two"></p>
</div>
<script src="/functions/beta.js"></script>
{{>footer}}