<% if(!currentUser){ %>
	<%- include ('../partials/homeModal'); -%>
	<script src="/frontend_funcs/loginSignup.js"></script>
<% } %>	
<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10">
					<p><i class="far fa-copyright"> </i>HitchAdvisor 2020</p>
				</div>
				<div class="col-sm-1"></div>
			</div>
		</div>
	</footer>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	</body>
</html>