<div id="loginModal" class="modal shadow-lg">
	<div class="modal-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-11"></div>
				<div class="col-sm-1"><span id="loginClose" class="close">&times;</span></div>
			</div>
			<div id="signupSection">
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<h2 class="navunder"><strong>Sign Up</strong></h2>
						<br>
						<form action="/signup" method="POST">
							<div class="row">
								<div class="col-1"></div>
								<div class="col-10">
									<p>Enter your Sign Up Code</p>
									<input type="text" id="signupCode" name="signupCode" class="modalForm" placeholder="Enter your signup code..." required>
								</div>
								<div class="col-1"></div>
							</div>
							<div class="row">
								<div class="col-md-4"></div>
								<div class="col-sm-12 col-md-4">
										<button type="submit" id="signinBtn" class="modalForm btn btn-outline-light">Submit</button>
									<div class="row">
										<div class="col-sm-12">
											<button type="button" id="loginDwnBtn" class="modalForm btn btn-outline-light btn-sm">Log In <i class="fas fa-level-down-alt fa-flip-horizontal"></i></button>
										</div>
									</div>
								</div>
								<div class="col-md-4"></div>
							</div>
							<div class="row">
								<div class="col-12">
									<div id="msg" class=""></div>
								</div>
							</div>
							<br>
						</form>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
			<div id="loginSection">
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<h2 class="navunder"><strong>Login</strong></h2>
						<br>
						<form action="/login" method="POST">
							<div class="row">
								<div class="col-1"></div>
								<div class="col-10">
									<p>Whats Your Username?</p>
									<input type="text" id="loginUsername" name="loginUsername" class="modalForm" placeholder="Your Registered Username" required>
								</div>
								<div class="col-1"></div>
							</div>
							<div class="row">
								<div class="col-1"></div>
								<div class="col-10">
									<p>Enter Your Password?</p>
									<input type="password" id="loginPassword" name="loginPassword" class="modalForm" placeholder="Password" required>
								</div>
								<div class="col-1"></div>
							</div>
							<div class="row">
								<div class="col-md-4"></div>
								<div class="col-sm-12 col-md-4">
									<button type="submit" id="loginBtn" class="modalForm btn btn-outline-light btn-lg">Login</button>
									<div class="row">
										<div class="col-sm-12 col-md-6">
											<button type="button" id="passwordBtn" class="modalForm btn btn-outline-light btn-sm"><i class="fas fa-level-down-alt fa-flip-horizontal"></i> Forgot Password</button>
										</div>
										<div class="col-sm-12 col-md-6">
											<button type="button" id="signupUpBtn" class="modalForm btn btn-outline-light btn-sm">Sign Up <i class="fas fa-level-up-alt"></i></button>
										</div>
									</div>	
								</div>
								<div class="col-md-4"></div>
							</div>
							<div class="row">
								<div class="col-12">
									<div id="msg" class=""></div>
								</div>
							</div>
							<br>
						</form>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
			<div id="forgotSection">
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<h2 class="navunder"><strong>Forgot Password</strong></h2>
						<br>
						<form action="/forgotpassword" method="POST">
							<div class="row">
								<div class="col-1"></div>
								<div class="col-10">
									<p>Whats Your Username or email?</p>
									<input type="text" id="forgotUsername" name="forgotUsername" class="modalForm" placeholder="Your Registered Username or Email" required>
								</div>
								<div class="col-1"></div>
							</div>
							<div class="row">
								<div class="col-md-4"></div>
								<div class="col-sm-12 col-md-4">
									<button type="submit" id="forgotBtn" class="modalForm btn btn-outline-light">Send Reset Link</button>
									<div class="row">
										<div class="col-sm-12">
											<button type="button" id="loginUpBtn" class="modalForm btn btn-outline-light btn-sm">Log In <i class="fas fa-level-up-alt"></i></button>
										</div>
									</div>	
								</div>
								<div class="col-md-4"></div>
							</div>
							<div class="row">
								<div class="col-12">
									<div id="msg" class=""></div>
								</div>
							</div>
							<br>
						</form>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>