<nav class=" navHeight navbar navbar-expand-lg bg-dark navbar-dark borderTB">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item mar10S">
                <a class="nav-link" href="/console">Home <i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item mar10S">
                <a class="nav-link" href="/operations">Operations <i class="fas fa-globe"></i></a>
            </li>
            <li class="nav-item mar10S">
                <a class="nav-link" href="/personnel">Personnel <i class="fas fa-users"></i></a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            <img class="mar15S" src="https://res.cloudinary.com/hitchadvisor/image/upload/v1585049906/small_icon.svg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item mar10S">
                <a class="nav-link" href="/suppliers"><i class="fas fa-address-book"></i> Suppliers</a>
            </li>
            <li class="nav-item mar10S">
                <a class="nav-link" href="/account"><i class="fas fa-user"></i> Account</a>
            </li>
            <li class="nav-item mar10S">
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
            </li>
        </ul>
    </div>
</nav>