<%- include ('../partials/header'); -%>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10 mainCont mainHeight shadow">
				<h1>This is the About Page</h1>
				<img class="portrait" src="https://cdn.pixabay.com/photo/2017/11/09/16/16/man-2933984__340.jpg">
				<h2>it was created by <%= name %></h2>	
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
<script src="/frontend_funcs/home.js"></script>
<%- include ('../partials/footer'); -%>