<%- include ('../partials/header'); -%>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10 mainCont mainHeight shadow">
			<h1> Main Console </h1>
			<img class="mar2U marginauto img-fluid" src="https://res.cloudinary.com/hitchadvisor/image/upload/q_auto/v1585664888/March-2020-calendar.png">
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
<%- include ('../partials/homeModal'); -%>
<script src="/frontend_funcs/loginSignup.js"></script>
<%- include ('../partials/footer'); -%>