<%- include ('../partials/header'); -%>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10 mainCont mainHeight shadow">
			<h1> Hitch Advisor - Automated Mobilisation </h1>
			<div class="pad5">
				<p class="fontSize100">Use this site to get weather info</p>
				<p class="fontSize125">Use this site to get weather info</p>
				<p class="fontSize150">Use this site to get weather info</p>
				<p class="fontSize175">Use this site to get weather info</p>
				<p class="fontSize200">Use this site to get weather info</p>
			</div>		
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
<input id="submitCode" type="text" class="veryHidden" value="<%= code %>">
<%- include ('../partials/homeModal'); -%>
<script src="/frontend_funcs/loginSignup.js"></script>
<%- include ('../partials/footer'); -%>